{% extends 'base.html' %}
{% block content %}
<h1>{{ forum.title }}</h1>
<p>{{ forum.description }}</p>
<p>Asked by {{ forum.user.username }} on {{ forum.created_at }}</p>
{% if forum.user == user %}
<p><a href="{% url 'forum_update' pk=forum.id %}">Edit question</a></p>
<p><a href="{% url 'forum_delete' pk=forum.id %}">Delete question</a></p>
{% endif %}
{% if answers.count > 0 %}
<h3>{{ answers.count }} Answer{{ answers.count|pluralize }}:</h3>
{% endif %}
{% for answer in answers %}
<div class="panel">
    <p>{{ answer.text }}</p>
    {% if answer.user == user %}
    <p><a href="{% url 'answer_update' forum_pk=forum.id answer_pk=answer.id %}">Edit answer</a></p>
    <p><a href="{% url 'answer_delete' forum_pk=forum.id answer_pk=answer.id %}">Delete answer</a></p>
    {% endif %}
    <p>Answered by {{ answer.user.username }} on {{ answer.created_at }}</p>
</div>
{% endfor %}
<p><a href="{% url 'answer_create' pk=forum.id %}">Write answer</a></p>
{% endblock %}